@import url('https://fonts.googleapis.com/');

:root{
    --color-fondo-general: #0E161B;
    --color-fondo-tarjetasBloques: #1A262F;
    --color-integracion: #2C4A5E;
    --color-text-principal: #F0F4F8;
    --color-acento: #00FFCC;

    --fuente-montserrat: 'Montserrat', sans serif;
    --funete-krona: 'Krona One', sans serif;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--color-fondo-general);
    color: var(--color-text-principal);
    font-family: var(--fuente-montserrat);
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 2% 0% 0% 15%;
}

.header__name{
    
}

.header__menu{
    display: flex;
    gap: 1.25rem;
}

.header__menu__link{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    color:var(--color-text-principal);
    text-decoration: none;
}

.title-destaque{
    color: var(--color-acento)
}

.presentation{
    display: flex;
    align-items: center;
    padding: 7% 8%;
    justify-content: space-between;
}

.presentation__image{
    border-radius: 50%;
    margin:auto;
    width: 40%;
    border: 0.125rem solid var(--color-integracion);
}

.presentation__content{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.presentation__content__title{
    font-size: 2.25rem;
    font-family: "Krona One", sans-serif;
}

.presentation__content__text{
    font-family: "Krona One", sans-serif;
    font-size: 1.5rem;
    font-weight: 100;
}

.presentation__cv{
    width: 30%;
    background-color: var(--color-fondo-general);
    text-align: center;
    padding: 1.53rem 0;
    border-radius: 8px;
    border: 0.125rem solid var(--color-acento);

    font-family: "Krona One", sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--color-acento);
    text-decoration: none;  
    
    display: flex;
    justify-content: center;
    gap: 0.625rem;
}

.presentation__links{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2.25rem;
}

.presentation__links__link{
    display: flex;
    justify-content: center;
    gap: 0.625rem;
}

.presentation__links__link:hover{
    background-color: #272727;
}

footer{
    background-color: var(--color-acento);
    padding: 1.5rem;
    color: var(--color-fondo-tarjetasBloques);
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
}

@media(max-width:1200px) {
    .header{
        padding: 10%;
    }

    .header__menu{
        justify-content: center;
    }
    
    .presentation{
        flex-direction: column-reverse;
        padding: 5%;
        gap: 1.5rem;
    }

    .presentation__content{
        width: auto;
    }

    .presentation__links{
        width: auto;
    }

    .presentation__links__link{
        width: 40%;
        height: auto;
    }

    .presentation__image{
        width: auto;
        height: auto;
    }
}