@import url('https://fonts.googleapis.com/');

:root{
    --color-fondo-general: #0E161B;
    --color-fondo-tarjetasBloques: #1A262F;
    --color-integracion: #2C4A5E;
    --color-text-principal: #F0F4F8;
    --color-textos-largos: #A9B7C6;
    --color-acento: #00FFCC;

    --fuente-montserrat: 'Montserrat', sans serif;
    --funete-krona: 'Krona One', sans serif;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--color-fondo-general);
    color: var(--color-text-principal);
    font-family: var(--fuente-montserrat);
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 10%;
}

.header__name{
    font-family: var(--funete-krona);
    font-size: 1.1rem;
    color:var(--color-text-principal)
}

.header__menu{
    display: flex;
    gap: 2rem;
}

.header__menu__link{
    font-size: 1.1rem;
    font-weight: 600;
    color:var(--color-text-principal);
    text-decoration: none;
    transistion: color 0.3s ease;
}

.header__menu__link:hover{
    color: var(--color-acento);
}

.presentation{
    flex: 1;
    display: flex;
    align-items: center;
    padding: 5% 7%;
    justify-content: space-between;
    gap: 4rem;
}

.presentation__image{
    border-radius: 50%;
    margin:auto;
    width: 40%;
    border: 0.125rem solid var(--color-integracion);
}

.presentation__content{
    width: 55%;
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
}

.presentation__content__title{
    font-size: 2.5rem;
    font-family: var(--fuente-krona);
    line-height: 1.3;
}

.title-destaque {
    color: var(--color-acento);
}

.presentation__content__text{
    font-size: 1.1rem;
    line-height: 1.6;
    color: var(--color-textos-largos);
}

.presentation__cv{
    display: inline-block;
    background-color: transparent;
    color: var(--color-acento);
    border: 2px solid var(--color-acento);
    padding: 0.8rem 2rem;
    border-radius: 5px;
    font-weight: 700;
    text-decoration: none;  
    transition: all 0.3 ease;
}

.presentation__cv:hover{
    background-color: var(--color-acento);
    color: var(--color-fondo-general);
    box-shadow: 0 0 15px rgba(0, 255, 204, 0.4);
}

.presentation__links{
    display: flex;
    gap: 1.5rem;
    margin-top: 0.5rem;
}

.presentation__links__link{
    display: flex;
    justify-content: center;
    gap: 0.625rem;
}

.presentation__links__link:hover{
    background-color: #272727;
}

footer{
    background-color: var(--color-acento);
    padding: 1.5rem;
    color: var(--color-fondo-tarjetasBloques);
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
}

@media(max-width:1200px) {
    .header{
        padding: 10%;
    }

    .header__menu{
        justify-content: center;
    }
    
    .presentation{
        flex-direction: column-reverse;
        padding: 5%;
        gap: 1.5rem;
    }

    .presentation__content{
        width: auto;
    }

    .presentation__links{
        width: auto;
    }

    .presentation__links__link{
        width: 40%;
        height: auto;
    }

    .presentation__image{
        width: auto;
        height: auto;
    }
}
