@import url('https://fonts.googleapis.com/');

:root {
    --color-fondo-general: #0E161B;
    --color-fondo-tarjetasBloques: #1A262F;
    --color-integracion: #2C4A5E;
    --color-text-principal: #F0F4F8;
    --color-textos-largos: #A9B7C6;
    --color-acento: #00FFCC;

    --fuente-montserrat: 'Montserrat', sans serif;
    --funete-krona: 'Krona One', sans serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--color-fondo-general);
    color: var(--color-text-principal);
    font-family: var(--fuente-montserrat);
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 10%;
}

.header__name {
    font-family: var(--funete-krona);
    font-size: 1.1rem;
    color:var(--color-text-principal)
}

.header__menu {
    display: flex;
    gap: 2rem;
}

.header__menu__link {
    font-size: 1.1rem;
    font-weight: 600;
    color:var(--color-text-principal);
    text-decoration: none;
    transistion: color 0.3s ease;
}

.header__menu__link:hover {
    color: var(--color-acento);
}

.presentation {
    flex: 1;
    display: flex;
    align-items: center;
    padding: 5% 7%;
    justify-content: space-between;
    gap: 4rem;
}

.presentation__content {
    width: 55%;
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
}

.presentation__content__title {
    font-size: 2.5rem;
    font-family: var(--fuente-krona);
    line-height: 1.3;
}

.title-destaque {
    color: var(--color-acento);
}

.presentation__content__text {
    font-size: 1.1rem;
    line-height: 1.6;
    color: var(--color-textos-largos);
}

.presentation__cv {
    display: inline-block;
    background-color: transparent;
    color: var(--color-acento);
    border: 2px solid var(--color-acento);
    padding: 0.8rem 2rem;
    border-radius: 5px;
    font-weight: 700;
    text-decoration: none;  
    transition: all 0.3 ease;
}

.presentation__cv:hover {
    background-color: var(--color-acento);
    color: var(--color-fondo-general);
    box-shadow: 0 0 15px rgba(0, 255, 204, 0.4);
}

.presentation__links {
    display: flex;
    gap: 1.5rem;
    margin-top: 0.5rem;
}

.presentation__links__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    background-color: var(--color-fondo-tarjetas);
    border: 1px solid var(--color-integracion);
    border-radius: 50%;
    transition: all 0.3s ease;
}

.presentation__links__link img {
    width: 22px;
    height: 22px;
}

.presentation__links__link:hover {
    border-color: var(--color-acento);
    transform: translateY(-3px);
}

.presentation__image-container {
    width: 35%;
    display: flex;
    justify-content: center;
}

.presentation__image {
    border-radius: 50%;
    width: 280px;
    height: 280px;
    object-fit: cover;
    border: 4px solid var(--color-integracion);
    border-shadow: 0 0 20px rgba(44, 74, 94, 0.5);
    transition: border-color 0.3s ease;
}

.footer {
    background-color: var(--color-fondo-tarjetas);
    border-top: 1px solid var(--color-integracion);
    padding: 1.5rem;
    color: var(--color-textos-largos);
    font-size: 0.9rem;
    text-align: center;
}

/* Responsivo para moviles y tabletas */
@media(max-width:968px) {
    .header {
        flex-direction: column;
        gap: 1rem;
        padding: 1.5rem;
    }
    
    .presentation {
        flex-direction: column-reverse;
        padding: 2rem 1.5rem;
        gap: 2rem;
        text-align: center;
    }

    .presentation__content {
        width: 100%;
        align-items: center;
    }

    .presentation__content__title {
       font-size: 1.8rem;
    }

    .presentation__links {
        justify-content: center;
    }

    .presentation__image-container {
        width: 100%;
    }

    .presentation__image{
        width: 200px;
        height: 200px;
    }
}
